<script id="tmpl-ClusterChart" type="text/html">
	<div class="ClusterChart">
		<div class="ClusterChartSummary"></div>
		<div class="hoverBoxContainer"></div>
	</div>
	
</script>

<script id="tmpl-section-hover" type="text/html">
	<div class="hoverDiv">
		<span>Name:{{name}}</span><br>
		<span>Weight:{{weight}}</span>
	</div>
</script>



