<script id="tmpl-ReportHeader" type="text/html">
	<div class="ReportHeader">
		<div class="navbar  navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
		    <a class="brand" href="#">D3JS Demo</a>
		    <ul class="nav">
		      <li data-nav="Welcome" class="menu active">Welcome</li>
		      <li data-nav="ClusterChart" class="menu">ClusterChart</li>
		    </ul>
		  </div>
		</div>
	</div>
</script>